development:
  adapter: sqlite
  encoding: unicode
  database: girls_go_crazy_development
  pool: 5

test:
  adapter: sqlite
  encoding: unicode
  database: girls_go_crazy_test
  pool: 5

production:
  adapter: sqlite
  encoding: unicode
  database: girls_go_crazy_production
  pool: 5
