development:
  adapter: postgresql
  encoding: unicode
  database: girls_go_crazy_development
  pool: 5
  username: denisantoniazzi
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: girls_go_crazy_test
  pool: 5
  username: denisantoniazzi
  password:

